.loaf-component{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.company-name{
    font-size: 72px;
    font-family: 'Abril Fatface', cursive;
}
.ticker-name{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    margin-top: -12px;
}
.price-metric{
    font-size: 48px;
    font-family: 'Abril Fatface', cursive;
}
.percent-metric{
    font-size: 48px;
    font-family: 'Abril Fatface', cursive;
}
.loaf-label{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #b3b3b3;
}
.border-right{
    box-shadow: inset -2px 0px 0px 0 #72727224;
}