.loaf-component{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.company-name{
    font-size: 72px;
    font-family: 'Abril Fatface', cursive;
}
.ticker-name{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    margin-top: -12px;
}
.price-metric{
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
}
.percent-metric{
    font-size: 32px;
    font-family: 'Abril Fatface', cursive;
}
.loaf-label{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #b3b3b3;
}
.border-right{
    border-right: 2px dashed #72727224;
}
.marginBottom10{
    margin-bottom: 10px;
}
.dashed-border-bottom{
    border-bottom: 2px dashed #ebebeb
}
.dashed-border-top{
    border-top: 2px dashed #ebebeb
}
.shares-divider{
    border-top: 2px dashed #dfdfdf;
	margin-top: 10px;
	padding-top: 10px;
}
.systems{
    bottom: 0;
    margin-left: 10px;
    border-top: 2px dashed #ebebeb;
    padding: 5px;
    background-color: white;
    margin-right: 10px;
}
.ant-badge-status-processing{
    background-color: #11b672 !important;
}
.ant-badge-status-text{
    font-size: 12px !important;
}
.paddingL10{
    padding-left: 10px;
}
.paddingR10{
    padding-right: 10px;
}
.ant-slider-handle{
    display: none
}
.with-75{
    min-width: 75%;
    max-width:75%;
}
.news-container{
    overflow: scroll;
    max-height: 384px;
}