
.logo{
    max-width: 32px;
    border-radius: 5px;
    margin-right: 15px;
}

.left-sider-small{
    max-width: 100px !important;
    min-width: 100px !important;
    width: 100px !important;
}
.left-sider-large{
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;}
.radius50{
    border-radius: 50px;
}

.right-sider{
    /* box-shadow: inset 2px 0px 0px 0 #72727224; */
    border-left: 2px dashed #72727224 !important;

    max-width: 150px !important;
    min-width: 150px !important;
}
.width100{
    min-width: 100%;
}
.active-loaf-button{
    box-shadow: 0px 0px 4px 0 #00000024 !important;
    background-color: #fafafa;
    transition: box-shadow 350ms ease-in-out;
    border-left: 4px solid #000000a6;
}

.loaf-button-hover-action:hover{
    cursor: pointer;
    background-color: #fafafa;
    transition: box-shadow 350ms ease-in-out;
}
.box-shadow-bottom{
    box-shadow: 0 0px 1px 0 #0000003b;
    border-radius: 3px;
}
.margin-auto{
    margin: auto;
}
.margin10{
    margin: 10px;
}
.companies-button{
    transition: box-shadow 350ms ease-in-out;
}
.hide{
    display: none;
}

.flex-badge{
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
    z-index: 0;
    flex-direction: column;

}
.flex{
    display: flex
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex-grow{
    flex-grow: 1;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.flex-start-center{
    align-items: flex-start;
    justify-content: center;
}
.flex-center-start{
    align-items: center;
    justify-content: flex-start;
}
.flex-center-end{
    align-items: center;
    justify-content: flex-end;
}
.flex-center-vertically{
    justify-content: center;
}
.flex-space{
    justify-content: space-around;
}
.sorting-bar{
    position: absolute;
    top: -16px;
    min-width: 300px;
    z-index: 1;
}
.height-100{
    min-height: 100%;
}
.width-20{
    max-width: 20%;
    min-width: 20%;
}
.width-25{
    max-width: 25%;
    min-width: 25%;
}
.width-30{
    max-width: 30%;
    min-width: 30%;
}
.width-33{
    max-width: 33%;
    min-width: 33%;
}
.width-40{
    max-width: 40%;
    min-width: 40%;
}
.width-50{
    max-width: 50%;
    min-width: 50%;
}
.width-60{
    max-width: 60%;
    min-width: 60%;
}
.width-66{
    max-width: 66%;
    min-width: 66%;
}
.width-75{
    max-width: 75%;
    min-width: 75%;
}
.width-100{
    min-width: 100%;
    max-width: 100%;
}
.absolute{
    position: absolute;
    margin-top: -20px;
    background-color: white;
    padding: 5px;

}
.your-companies{
    position: absolute;
    top: -20px;
    left: 0;
    min-width: 100%;
    background-color: white;
    border-bottom: 2px dashed #ebebeb;
    border-right: 2px dashed #ebebeb;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-top: 2px dashed #ebebeb;
    z-index: 1;
}
.logo-large{
    max-width: 48px;
    border-radius: 5px;
}
.border-bottom-dashed{
    border-bottom: 2px dashed #dedede;
    padding-bottom: 10px;
}
.abril{
    font-family: 'Abril Fatface', cursive;
}
.open-sans{
    font-family: 'Open Sans', sans-serif !important;
}
.grey{
    color: #80808069;
}
.size20{
    font-size: 20px;
}
.show-zoom-animation{
    animation: show 0.5s 1;
    -webkit-animation: show 0.5s 1;
    animation-fill-mode: forwards;
  }
  @keyframes show{
    from {opacity :0; transform: scale(1.1);}
    to {opacity :1;transform: scale(1.0);}
  }
.marginBottom48{
    margin-bottom: 48px;
}
.marginBottom54{
    margin-bottom: 54px;
}
.marginBottom64{
    margin-bottom: 64px;
}
.padding6{
    padding: 6px;
}
  .padding10{
      padding: 10px;
  }
  .padding15{
    padding: 15px;
}
  .paddingTop10{
      padding-top: 10px;
  }
  .paddingButtom10 {
      padding-bottom: 10px;
  }
  .paddingLeft10 {
    padding-left: 10px;
}
.paddingRight10 {
    padding-right: 10px;
}
.add-new-button{
    left: 0;
    min-width: 100%;
    background-color: #ffffff78;
    border-top: 2px dashed #eeeeee;
    z-index: 1;
}
.add-button-button-desktop{
    border-top-right-radius: 12px;
    border-right: 2px dashed #eeeeee;
    position: absolute;
    bottom: 0;

}

.add-new-button-mobile{
    position: fixed;
    bottom: 0;
}
.marginBottom26 {
    margin-bottom: 26px;
}
.webkit-scroll{
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}
